@media screen and (max-width: 1440px) {
    #profile {
     height: 83vh;
     margin-bottom: 6rem;
    }

    .arrow {
        bottom: 0.5rem;
    }

    
    .about-containers {
        flex-wrap: nowrap;
        justify-content: center;
    }
 }
 
 @media screen and (max-width: 1200px) {
     #desktop-nav {
         display: none;
     }
     #hamburger-nav {
         display: flex;
     }
 
     #experience, .experience-details-container {
         margin-top: 2rem;
         height:auto;
     }
 
     #profile, .section-container {
         display: block;
     }
 
     .arrow {
         display: none;
     }
 
     section, .section-container {
         height: fit-content;
     }
 
     section {
         margin: 0 5%;
     }
 
     .section_pic_container {
         width: 275px;
         height: 275px;
         margin: 2rem auto;
         justify-content: center;
     }
 
     .about-containers {
         margin-top: 0;
         flex-wrap: wrap;
     }
 }
 
 @media screen and (max-width: 600px) {
     #contact, footer {
        height: 40vh;
        margin-top: 100px;
     }

     #about {
        margin-top: 200px;
     }
 
     #profile {
         height: 83vh;
         margin-bottom: 0;
     }
 
     article {
         font-size: 1rem;
     }
 
     footer nav {
         height: fit-content;
         margin-bottom: 2rem;
     }
 
     .about-containers, .contact-info-upper-container, .btn-container {
         flex-wrap: wrap;
     }
     .contact-info-container {
         margin: 0;
     }
     .contact-info-container p, .nav-links li a {
         font-size: 1rem;
     }
     .experience-sub-title {
         font-size: 1.25rem;
     }
     .logo {
         font-size: 1.5rem;
     }
     .nav-links {
         flex-direction: column;
         gap: 0.5rem;
         text-align: center;
     }
     .section_pic_container {
         width: auto;
         height: 46vh;
         justify-content: center;
     }
     .section_text_p2 {
         font-size: 2rem;
     }
     .text-container {
         text-align: justify;
     }
 }
/* 
 @media screen and (max-width: 500px){
    #about {
        margin-top: 200px;
     }
     #contact {
        margin-top: 100px;
     }
     #footer {
        margin-top: 100px;
     }
 } */